
<script src="../js/lib/jquery.min.js"></script>
<script src="../js/lib/handlebars.min.js"></script>
<script src="../js/lib/moment.min.js"></script>
<script src="../js/main.min.js"></script>
{{#if overall.js}}
<script src="../js/{{overall.js}}.min.js"></script>
{{/if}}

</body>
</html>