<!DOCTYPE html>
<html>
<head>
<title>{{overall.title}}</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/main.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/{{{overall.css}}}.min.css"/>
<link rel="icon" href="../img/_icons/favicon.ico" />

<link rel="apple-touch-icon" sizes="180x180" href="../img/_icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="../img/_icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../img/_icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="../img/_icons/manifest.json">
<link rel="mask-icon" href="../img/_icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="../img/_icons/favicon.ico">
<meta name="msapplication-config" content="../img/_icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, minimum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="description" content="Learn by meeting people." />
<meta name="keywords" content="" />
<meta name="rating" content="general" />
<meta name="author" content="Squiks" />
<meta name="copyright" content="Squiks" />
<meta name="expires" content="never"/>
<meta name="distribution" content="global" />
<meta name="robots" content="index" />

<!-- Social Network -->
<meta property="twitter:title" content="Squiks" />
<meta property="twitter:image" content="../img/logo.jpg" />
<meta property="twitter:url" content="ea3e1b6217.testurl.ws" />
<meta property="twitter:description" content="Learn by meeting people." />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Squiks"/>
<meta property="og:image" content="../img/logo.svg" />
<meta property="og:url" content="ea3e1b6217.testurl.ws"/>
<meta property="og:site_name" content="Squiks"/>
<meta property="og:description" content="Learn by meeting people."/>
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="../js/lib/socket.io.min.js"></script>

</head>

<body>
