<body>
    <main class="four-zero-four">
        <h1>404</h1>
        <h2>Wooops.... You seem lost.</h2>
        <a href="/home" cta-text="Go back home" class="cta">Go back home</a>
    </main>
</body>