<body>
    <main class="five-zero-zero">
        <h1>500</h1>
        <h2>We are also learning... And we missed something...</h2>
        <a href="/home" cta-text="Go back home" class="cta">Go back home</a>
    </main>
</body>