
<header>
    <div class="wrapper">
    <div class="logo">
        <a href="/home">
            <img src="../img/logo.svg" alt="Logo Squiks"/>
            <h1>Squiks</h1>
        </a>
    </div>
        <div class="redirection">
            <p>Want to learn languages ?</p>
            <a cta-text="Start learning" class="cta" href="/">Start learning</a>
        </div>
    </div>
</header>

<main class="article">
<header>
    <div class="wrapper">
    <a href="/blog">Back to all articles</a>
    </div>
</header>
<div class="tiny-wrapper article">
    <img src="../img/blog/{{articles.0.IMAGE_PATH}}" alt="image of {{{articles.0.TITLE}}}"/>
    <h1>{{{articles.0.TITLE}}}</h1>
    {{{articles.0.CONTENT}}}
</div>
</main>
