
<body class="homepage">
<main>
    <section class="introduction">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="">
                        <img src="../img/logo.svg" alt="Logo Squiks"/>
                        <h1>Squiks</h1>
                    </a>
                </div>
                <div class="log">
                    <a class="login" href="login">Login</a>
                    <a cta-text="Register" class="register cta cta-reverse" href="signup">Register</a>
                </div>
            </div>
        </header>
        <div class="main-intro">
            <h1>Learn languages by meeting new people</h1>
            <h2>The best way to learn is to practice. Squiks provides you an easy way to do so.
                Find a native and enjoy learning by chating, talking or writing letters.</h2>
            <a class="cta" cta-text="Sign up for free" href="signup">Sign up for free</a>
        </div>
    </section>
    <section class="how-it-works wrapper">
        <h1>Squiks is easy to use</h1>
        <ul>
            <li>
                <h2><img src="../img/world.svg" alt="world icon"/>Find someone easily</h2>
                <p>With thousands of people using Squiks, you can easily find the person with whom you’ll learn the fastest.</p>
            </li>
            <li>
                <h2><img src="../img/chat.svg" alt="chat icon"/>Practice with tools</h2>
                <p>Squiks provides you tools like translator, corrector and tips for you to learn faster. You are able to chat, talk and exchange with whoever you would like to learn with.</p>
            </li>
            <li>
                <h2><img src="../img/graph-up.svg" alt="graph up"/>See your improvement</h2>
                <p>Once you ll start using Squiks, you’ll see your language skill going higher and higher even without studying. Moreover, you’ll get contact from all over the world.</p>
            </li>
        </ul>
    </section>
    <section class="map">
        <div class="wrapper">
            <h1>Find penpal all over the world</h1>
            <h2>Learn and be connected with the whole world using Squiks.</h2>
            <img class="map-img" src="../img/map.svg" alt="map"/>
        </div>
    </section>

    <section class="guest-book wrapper">
        <h1>They are currently learning</h1>
        <h2>Squiks is already used by thousand of people around the world. Check their thought about Squiks.</h2>
        <ul>
            <li>
                <div class="user-profile">
                    <img src="../img/users/3.jpg" alt="user 1 picture"/>
                    <strong>Enric Pablaros</strong>
                    <span>New user</span>
                </div>
                <p>Squiks brings me the opportunity to meet people from all over the planet and to learn foreign languages at the same time by exchanging our experiences.</p>
            </li>
            <li>
                <div class="user-profile">
                    <img src="../img/users/user_profile_2.jpg" alt="user 1 picture"/>
                    <strong>Anthony Redy</strong>
                    <span>New user</span>
                </div>
                <p>After having tried a lot of things to learn Spanish, I finally found Squiks that allows me to learn this without having to study anything or to pay whatever. I would recommend you to try it out!</p>
            </li>
            <li>
                <div class="user-profile">
                    <img src="../img/users/user_profile_1.jpg" alt="user 1 picture"/>
                    <strong>Stephany Wistle</strong>
                    <span>New user</span>
                </div>
                <p>I was scared of writing in French but when I know that the person I am writing to is learning too, it helps me to overwhelm this scare.</p>
            </li>
        </ul>
    </section>
    <section class="bottom-cta">
        <h1>Get started now, it’s all free</h1>
        <h2>You can start learning now and enjoy sharing your language with other. Try it now it’s totally free and quick.</h2>
        <a class="cta" cta-text="Start learning" href="signup">Start learning</a>
    </section>
</main>