.four-zero-four {
  background: red;
  text-align: center;
  min-height: 100vh;
  background: url(../../img/404-bg.jpg);
  background-size: cover; }
  .four-zero-four h1 {
    padding-top: 40vh;
    padding-bottom: 4rem;
    font-size: 8rem; }
  .four-zero-four h2 {
    margin-bottom: 2rem; }
