header {
  background: #272727;
  overflow: hidden;
  padding: 1rem; }
  header .logo {
    width: 100px;
    float: left; }
    header .logo h1 {
      line-height: 0;
      font-size: 0;
      color: transparent; }
  header .redirection {
    float: right;
    width: 350px; }
    header .redirection p {
      float: left;
      padding-top: .5rem;
      margin: 0 auto;
      color: #FFFFFF; }
    header .redirection .cta {
      float: right; }

.blog .tiny-wrapper {
  width: 680px;
  margin: 0 auto; }
  .blog .tiny-wrapper .posts {
    margin-top: 4rem;
    background: #FFFFFF;
    padding: 2rem; }
    .blog .tiny-wrapper .posts li {
      overflow: hidden;
      margin-bottom: 4rem; }
      .blog .tiny-wrapper .posts li:last-child {
        margin-bottom: 0; }
      .blog .tiny-wrapper .posts li a:hover {
        color: #444444; }
      .blog .tiny-wrapper .posts li h2 {
        line-height: 1.4;
        font-size: 1.4rem; }
      .blog .tiny-wrapper .posts li img {
        width: 200px;
        height: 200px;
        float: left; }
      .blog .tiny-wrapper .posts li div {
        float: right;
        margin-left: 20px;
        width: 380px; }
        .blog .tiny-wrapper .posts li div span {
          text-align: right;
          color: #BBB;
          width: 100%;
          display: block;
          margin: .5rem auto; }

.article header {
  background: #E6E6E6; }
  .article header a {
    position: relative;
    margin-left: 1rem; }
    .article header a:before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 3px;
      width: 8px;
      height: 14px;
      transform: rotate(180deg);
      background: url(../img/arrow.svg);
      background-size: 100% 100%; }

.article .tiny-wrapper {
  width: 680px;
  margin: 0 auto 4rem; }
  .article .tiny-wrapper.article {
    margin-top: 6rem;
    background: #FFFFFF;
    padding: 4rem 2rem 2rem;
    position: relative; }
    .article .tiny-wrapper.article img {
      position: absolute;
      left: 50%;
      top: -40px;
      transform: translate(-50%, 0);
      width: 80px;
      height: 80px;
      border-radius: 100%; }
    .article .tiny-wrapper.article p {
      line-height: 1.6; }
    .article .tiny-wrapper.article h1 {
      margin-bottom: 3rem;
      line-height: 3rem; }
    .article .tiny-wrapper.article h2 {
      margin: 3rem 0 1.5rem;
      line-height: 1.6;
      color: #E95451; }
    .article .tiny-wrapper.article small {
      float: right; }
