.allGoods {
  overflow: hidden; }
  .allGoods div {
    overflow: hidden; }
  .allGoods .goods {
    overflow: hidden; }
    .allGoods .goods > li {
      float: left;
      width: 30%;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 3rem; }
      .allGoods .goods > li a > img {
        width: 100%;
        height: 225px;
        display: block;
        border-radius: 3px 3px 0 0; }
      .allGoods .goods > li:nth-child(3n + 2) {
        margin: 0 5% 3rem; }
      .allGoods .goods > li .price {
        background: #E95451;
        color: white;
        padding: 10px;
        display: block;
        min-width: 100px;
        text-align: center;
        float: left;
        border-radius: 0 0 3px 0; }
      .allGoods .goods > li .location {
        float: right;
        font-size: 1.125rem;
        padding-right: 10px; }
      .allGoods .goods > li .features {
        padding: 15px 0;
        width: 100%;
        float: right;
        overflow: visible; }
        .allGoods .goods > li .features li {
          float: left;
          width: 25%;
          position: relative;
          text-align: center; }
          .allGoods .goods > li .features li img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            margin-top: 0; }
