.messages section {
  float: left;
  box-sizing: border-box;
  background: #FFFFFF; }
  .messages section header {
    background: #EDEDED;
    overflow: hidden;
    padding: .5rem .2rem; }
    .messages section header h1 {
      font-size: 1rem;
      float: left;
      margin-left: 1rem; }
  .messages section.friends {
    width: 250px;
    border-right: 1px solid #F4F4F4;
    border-left: 1px solid #F4F4F4;
    min-height: calc(100vh - 64px); }
    .messages section.friends ul li {
      overflow: hidden; }
      .messages section.friends ul li button {
        padding: 1rem 8%;
        display: block;
        width: 100%;
        border-bottom: 1px solid #F4F4F4;
        position: relative; }
        .messages section.friends ul li button:hover {
          background: #FFFDFD; }
        .messages section.friends ul li button p {
          display: block;
          float: left;
          margin-left: 1rem;
          margin-bottom: 0; }
          .messages section.friends ul li button p strong {
            display: block;
            font-size: 1rem; }
          .messages section.friends ul li button p span {
            opacity: .5;
            margin-left: .25rem;
            position: relative;
            font-size: .7rem; }
            .messages section.friends ul li button p span:before {
              content: "";
              position: absolute;
              left: -.8rem;
              top: 0;
              width: 8px;
              height: 12px;
              background: url(../../img/position.svg);
              background-size: cover; }
        .messages section.friends ul li button .is-connected {
          position: absolute;
          left: 25%;
          top: 1rem;
          height: 6px;
          width: 16px;
          border-radius: 20px;
          font-size: .1rem;
          color: #BBB; }
          .messages section.friends ul li button .is-connected.connected {
            background: #1cff50;
            width: 6px;
            left: 26%; }
          .messages section.friends ul li button .is-connected.disconnected {
            background: #ff1c50;
            width: 6px;
            left: 26%; }
        .messages section.friends ul li button img {
          float: left;
          width: 45px;
          height: 45px;
          border-radius: 100%; }
          .messages section.friends ul li button img.country {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 7%;
            top: 3rem; }
  .messages section.conversations {
    width: 300px;
    border-right: 1px solid #F4F4F4;
    min-height: calc(100vh - 64px); }
    .messages section.conversations header button {
      margin-top: .1rem;
      float: right;
      line-height: 1.5rem;
      font-size: .7rem;
      color: #BBB; }
    .messages section.conversations header img {
      width: 25px;
      height: 25px;
      float: right;
      margin-left: 5px; }
    .messages section.conversations ul li {
      overflow: hidden; }
      .messages section.conversations ul li button {
        padding: 1rem 5%;
        display: block;
        width: 100%;
        border-bottom: 1px solid #F4F4F4;
        position: relative;
        text-align: left;
        height: 95px; }
        .messages section.conversations ul li button:hover {
          background: #FFFDFD; }
        .messages section.conversations ul li button.current {
          background: #E95451;
          color: #FFFFFF; }
          .messages section.conversations ul li button.current p {
            color: #F4F4F4; }
            .messages section.conversations ul li button.current p strong {
              color: #FFFFFF; }
        .messages section.conversations ul li button .is-read {
          position: absolute;
          right: 6%;
          top: 1.5rem;
          width: 8px;
          height: 8px;
          border-radius: 10px; }
        .messages section.conversations ul li button.new-message p {
          color: #444444; }
          .messages section.conversations ul li button.new-message p strong {
            color: #E95451; }
        .messages section.conversations ul li button.new-message .is-read {
          background: #E95451; }
        .messages section.conversations ul li button p {
          display: block;
          float: left;
          width: 205px;
          margin-bottom: 0;
          font-size: .75rem;
          margin-left: 6%;
          color: #BBB;
          word-break: break-all; }
          .messages section.conversations ul li button p strong {
            display: block;
            font-size: 1rem;
            color: #444444; }
        .messages section.conversations ul li button img {
          float: left;
          margin-top: 2px;
          border-radius: 100%; }
          .messages section.conversations ul li button img.country {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 5%;
            top: 3rem; }
  .messages section.chat {
    width: 650px;
    position: relative;
    min-height: calc(100vh - 64px);
    border-right: 1px solid #F4F4F4; }
    .messages section.chat header img {
      float: right;
      width: 18px;
      height: 18px; }
    .messages section.chat header button {
      float: right;
      margin-top: 5px; }
      .messages section.chat header button img {
        margin-left: 5px; }
    .messages section.chat main {
      padding: 2rem 15%; }
      .messages section.chat main .message {
        margin-bottom: 2rem;
        width: 95%;
        word-wrap: break-word;
        position: relative; }
        .messages section.chat main .message img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          display: inline-block; }
        .messages section.chat main .message .bubble {
          float: left;
          background: #F4F4F4;
          border-radius: 10px;
          padding: 1rem;
          position: relative;
          z-index: 2;
          width: calc(100% - 75px); }
          .messages section.chat main .message .bubble:after {
            content: "";
            position: absolute;
            right: -10px;
            z-index: 1;
            top: 50%;
            transform: translate(0, -50%) rotate(45deg);
            background: #F4F4F4;
            width: 20px;
            height: 20px;
            border-radius: 2px; }
          .messages section.chat main .message .bubble p {
            margin-bottom: 0; }
        .messages section.chat main .message.me {
          float: right; }
          .messages section.chat main .message.me img {
            right: auto;
            left: 0; }
          .messages section.chat main .message.me .bubble {
            color: #FFFFFF;
            background: #E95451;
            float: right; }
            .messages section.chat main .message.me .bubble:after {
              right: auto;
              left: -10px;
              background: #E95451; }
      .messages section.chat main .input-comment {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-top: 1px solid #E95451;
        color: #F4F4F4; }
        .messages section.chat main .input-comment .input-message {
          width: 100%;
          padding: 1rem; }
        .messages section.chat main .input-comment label {
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translate(0, -50%);
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 100%;
          border: 1px solid #BBB;
          color: #BBB;
          font-weight: 300;
          text-align: center;
          line-height: 1.25rem;
          font-size: 1.5rem;
          padding: 0; }
