// UNCHANGED
$white: #FFFFFF;
$black: #000000;

// MAIN
$mainColor:#E95451;
$mainColorHover:#F96461;
$mainColorLight:#FFCFC9;

$secondColor:#4A90E2;
$secondColorHover:#6AB9F4;

$fontColor : #444444;
$darkGrey : #272727;
$normalGrey : #BBB;
$grey14: #EEE;
$grey13: #DDD;
$grey12: #CCC;
$grey11: #BBB;
$grey10: #AAA;
$grey9: #999;
$grey8: #888;
$grey7: #777;
$grey6: #666;
$normalLightGrey : #E6E6E6;
$veryLightGrey : #FFFDFD;
$veryVeryLightGrey : #F8F8F8;
$lightGrey : #F4F4F4;
$lineGrey : rgba(0,0,0,.1);
$hoverLightGrey : rgba(0,0,0,.05);
$red : rgb(255,28,80);
$green : #08B976;
